body {
    font-family: Arial, sans-serif;
}

.container {
    place-items: center;
    display: flex;
    flex-direction: row;
}

.slogan-container {
    font-size: 36px;
    flex: 1;
    padding: 20px;
}

.form-container {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 25px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius:21px;
}

    .form-container h1 {
        text-align: center;
    }

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: darkcyan;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    margin-left:280px;
}
    input[type="submit"]:hover {
        background-color: darkblue;
    }
