@model CarBooking.Models.DATXE

@{
    ViewBag.Title = "FormCarBooking";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    <link rel="stylesheet" href="~/Content/formCBstyle.css" />
}
<img src="~/image/banner.png" style="width:100%; height:350px;"/>

<div class="container">
    <div class="slogan-container">
        <ul>
            <li>An toàn, đúng hạn</li>
            <li>Không phát sinh chi phí</li>
            <li>Bùng nổ ưu đãi</li>
        </ul>
    </div>


    <div class="form-container">
            <h1>Dat xe nhanh</h1>
            @using (Html.BeginForm("FormCarBooking", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="from">Điểm đi:</label>
                    <input type="text" id="from" name="DiemXuatPhat" required>
                </div>

                <div class="form-group">
                    <label for="to">Điểm đến:</label>
                    <input type="text" id="to" name="DiemDen" required>
                </div>

                <div class="form-group">
                    <label for="datetime">Thời gian:</label>
                    <input type="datetime-local" id="datetime" name="ThoiGian" required>
                    @Html.ValidationMessageFor(m => m.ThoiGian)
                </div>

                <div class="form-group">
                    <label for="carType">Loại xe:</label>
                    <select id="carType" name="LoaiXe" required>
                        <option value="xe 4 chỗ">Xe 4 chỗ</option>
                        <option value="xe 7 chỗ">Xe 7 chỗ</option>
                        <option value="xe du lịch">xe du lịch</option>
                    </select>
                </div>

                <input style="border-radius:21px;" type="submit" value="Đặt xe">
            }
    </div>
</div>

